#comments, #comment-form {
   font-size: 14px;
   line-height: 21px;
   font-weight: 300;
   margin-top: $spacer-br*2;
   border-top: 1px dotted $br-blue-light;
   a {
      &:hover {
         text-decoration: none;
      }
   }

   .comments-bubble-container {
      float: right;
      padding-top: $spacer-br;
      .comments-bubble {
          position: relative;
          width: 35px;
          height: 35px;
          margin: $spacer-br 0 $spacer-br;
          text-align: center;
          font: 16px/35px "Fira Sans", Arial, sans-serif;
          color: #fff;
          background: $br-blue;
          transition: all .2s ease;
          border-radius: 2px;
      }
      .comments-bubble:before {
          content: "";
          position: absolute;
          bottom: -16px;
          right: 7px;
          border-width: 0 0 16px 16px;
          border-style: solid;
          border-color: transparent $br-blue;
          transition: all .2s ease;
      }
   }

   #comment-status.alert-error {
      color: $br-blue;
   }

   .comment-list {
      p {
         margin: $spacer-br 0;
      }
      .children {
         margin-top: $spacer-br;
      }
      .comment {
         margin-bottom: $spacer-br*2;
         p {
            font-weight: 300;
         }
      }
   }
   p.comment-form-comment {
      textarea {
         border: 1px solid $light-grey;
         border-radius: 4px;
         width: 100%;
         height: 120px;
         transition: all .2s ease;
         padding: 5px 10px;
         &:required {
             border-color: #ccc !important;
             box-shadow: none !important;
             -webkit-box-shadow: none !important;
         }
         &:focus {
            outline: 0;
            border: 1px solid $br-blue;
         }
      }
   }
   p.comment-form-author, p.comment-form-email, p.comment-form-url {
      input {
         border: 1px solid $light-grey;
         border-radius: 4px;
         width: 100%;
         transition: all .2s ease;
         padding: 5px 10px;
         &:focus {
            outline: 0;
            border: 1px solid $br-blue;
         }
      }
   }
   p.form-submit {
      input[type=submit] {
         background-color: $br-blue;
         color: $white;
         border: none;
         border-radius: 0px;
         transition: all .2s ease;
         padding: 12px 32px;
         margin-bottom: $spacer-br*4;

         &:hover {
            background-color: $br-blue;
         }

      }
   }
   #comments-form {
      margin-top: $spacer-br*2;
      border-top: 1px dotted $br-blue-light;
   }
}

div[id^="comment-"]:before{
    display: block; 
    content: " "; 
    margin-top: -105px; 
    height: 105px; 
    visibility: hidden; 
  }

@include media-breakpoint-up(lg) {
  div[id^="comment-"]:before{
    margin-top: -70px; 
    height: 70px; 
  }
}


#comment-form {
   border-top: none;
}