// COLORS
$white: rgba(255,255,255,1);
$br-blue: rgba(0, 123, 255, 1);
$br-blue-light: rgba(25,169,255,1);
$br-blue-dark: rgba(12,77,116,1);
$dark-grey: rgba(69,69,69,1);
$light-grey: rgba(240,240,240,1);
$br-grey: rgba(148, 157, 161, 1);
$br-red: red;

//Helper
$spacer-br: 1rem;
