
// COLORS
$white: rgba(255,255,255,1);
$br-blue: rgba(0, 123, 255, 1);
$br-blue-light: rgba(25,169,255,1);
$br-blue-dark: rgba(12,77,116,1);
$dark-grey: rgba(69,69,69,1);
$light-grey: rgba(240,240,240,1);
$br-grey: rgba(148, 157, 161, 1);

//Helper
$spacer-br: 1rem;

.turbolinks-progress-bar {
  height: 5px;
  background-color: $br-blue-dark;
}

body {
	font-family: 'Lora', serif;
	font-weight: 400;
	text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
	&.noscroll {
		overflow: hidden;
	}
}
.social-shit {
	display: flex;
	align-items: center;
	height: 20px;
	.social-icon {
		padding-left: 1rem;
		a {
			height: 20px;
			display: block;
		}
	}
	svg {
		transition: all .2s ease;
		width: 20px;
		height: 20px;
		&:hover {
			fill: $br-blue;
		}
	}
}
a {
	transition: all .2s ease;
	&:hover {
		text-decoration: none;
		color: $br-blue-dark;
	}
	&:visited {
		text-decoration: none;
	}
	&:focus {
		text-decoration: none;
	}
}

a:focus {
	text-decoration: none;
}

body {
	display: flex;
  	min-height: 100vh;
  	flex-direction: column;
}
main {
	background: $white;
	transition: all .3s ease;
	margin-top: 1rem;
	flex: 1;
	@include media-breakpoint-up(sm) {
		margin-top: 2rem;
	}
	@include media-breakpoint-up(xl) {
		margin-top: 2rem;
	}
}

small, .small {
	font-size: 50%;
	font-weight: 300;
}

hr.wp-block-separator {
	display: block!important;
	border: 0!important;
	text-align: center!important;
	overflow: visible!important;
	margin: 40px 0!important;
	max-width: 100%;
	&:before {
		content: '...';
		display: inline-block;
		margin-left: .6em;
		color: rgba(0,0,0,.68);
		position: relative;
		top: -30px;
		font-weight: 400;
		font-style: italic;
		font-size: 30px;
		letter-spacing: .6em;
	}
}
.specialties-wrapper {
	@include media-breakpoint-up(sm) {
		margin-left: 0;
	}
}
.specialties {
	display: flex;
	flex-flow: row wrap;
	justify-content: flex-start;
}
.badge-primary {
	font-family: 'Heebo', sans-serif;
	padding: 10px;
	background-color: $br-blue;
	color:white;
	border-radius: 5%;
	margin: 5px;
	&.smaller {
		font-size: 13px;
		padding: 6px;
		border-radius: 2px;
	}
	&:hover {
		background-color: lighten($br-blue-dark, 1);
		color: white;
	}
	&.current_tag {
		background-color: lighten($br-blue-dark, 40%);
		color: white;
	}
}

.main-title {
	font-size: 42px;
	@include media-breakpoint-up(sm) {
		font-size: 55px;
	}
}
