hr.wp-block-separator {
	display: block!important;
	border: 0!important;
	text-align: center!important;
	overflow: visible!important;
	margin: 60px 0!important;
	max-width: 100%;
	&:before {
		content: '...';
		display: inline-block;
		margin-left: .6em;
		color: rgba(0,0,0,.68);
		position: relative;
		top: -30px;
		font-weight: 400;
		font-style: italic;
		font-size: 30px;
		letter-spacing: .6em;
	}
}
.gutenberg {
	hr.wp-block-separator {
		margin: 20px 0!important;
		&:before {
			top: -11px;
		}
	}
}
